@import "tailwindcss";

:root {
  --background: #F9F6F7;
  --foreground: #171717;
  --scroll-gap: 30px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.scroller-container {
  width: 500px;
  overflow: hidden;
  padding: 1rem 0;
  white-space: nowrap;
  mask-image: linear-gradient(to right,
      transparent,
      black 10%,
      black 90%,
      transparent);
  -webkit-mask-image: linear-gradient(to right,
      transparent,
      black 10%,
      black 90%,
      transparent);
}

.scroller-inner {
  display: flex;
  width: max-content;
}

.scroller-inner:hover .scroll-list {
  animation-play-state: paused;
}

.scroll-list {
  display: flex;
  animation: scroll 20s linear infinite;
}

.link-item {
  margin: 0 1rem;
  font-weight: bold;
}